<!DOCTYPE html>
<html>

<head>
    <title>OPD Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-git.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">OPD Crime</a>
        </nav>
        <!-- Parallax Picture -->
        <div class="hero text-center">
            <h1>Bad Boys</h1>
        </div>
        <!-- Drop Down Menus -->
        <div class="container">
            <div class="row">
                <!-- Category Dropdown -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="crimeSelect">Crime</label>
                        <select class="form-control" id="crimeSelect">
                        </select>
                    </div>
                </div>
                <!-- Year Dropdown -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="yearSelect">Year</label>
                        <select class="form-control" id="yearSelect">
                        </select>
                    </div>
                </div>
                <!-- Day/Night Dropdown -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="timeSelect">Day/Night</label>
                        <select class="form-control" id="timeSelect">
                            <option>Day</option>
                            <option>Night</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Map -->
            <div class="row">
                <div class="col-md-12">
                    <div id="map-id"></div>
                </div>
            </div>
            <div class="row">
                <!-- Weekday CRIME Frequency Plot -->
                <div class="col-md-4">
                    <div id="plot-month"></div>
                </div>
                <!-- Day or Night CRIME Frequency Plot -->
                <div class="col-md-4">
                    <div id="plot-days"></div>
                </div>
                <!-- Month CRIME Frequency Plot -->
                <div class="col-md-4">
                    <div id="plot-time"></div>
                </div>
            </div>
        </div>
    </div>
    <script> 
        let cats = {{cats | tojson}};
        let year_list = {{year_list | tojson}};
        let init_objs = {{init_objs | tojson}}
    </script>
    <script src="../static/js/dropdown.js"></script>
    <!-- <script src="../static/js/heatmap.js"></script> -->
    <script src="../static/js/dayplot.js"></script>
    <script src="../static/js/timeplot.js"></script>
    <script src="../static/js/monthplot.js"></script>

</body>

</html>